body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    margin: 0;
}

section {
    height: auto;
    /* height: 80vh; */
    padding: 50px;
    padding-left: clamp(70px, 10vw, 200px);
    padding-right: clamp(70px, 10vw, 200px);
}

section h1 {
    font-size: clamp(20px, 10vw, 100px);
}

section h2 {
    margin-top: -20px;
    font-size: clamp(15px, 8vw, 80px);
}

section h3 {
    margin-top: -20px;
    font-size: clamp(10px, 6vw, 60px);
}

section p {
    font-size: clamp(20px, 3vw, 35px);
}

section a {
    color: white;
    font-weight: bold;
    text-shadow: 0 0 3px #080808, 0 0 5px #000000;
}

section:nth-child(odd) {
    background-color: rgb(0, 126, 243);
    color: white;
}

section:nth-child(odd) strong {
    color: rgb(31, 37, 43);
}

section:nth-child(even) {
    text-align: end;
    background-color: rgb(31, 37, 43);
    color: white;
}

section:nth-child(even) strong {
    color: rgb(0, 126, 243);
}

section:nth-child(1) strong {
    color: white;
    text-shadow: 0 0 3px #080808, 0 0 5px #000000;
}

section:nth-child(even) .main__section--image {
    position: static;
    height: clamp(100px, 15vw, 500px);
    margin-right: 90vw;
    /* margin-top: clamp(-200px, 10vh, -100px); */
    margin-top: -20vh;
    /* padding-right: 90%; */
}

section:nth-child(odd) .main__section--image {
    position: static;
    height: clamp(100px, 15vw, 500px);
    margin-left: 65vw;
    margin-top: -10vh;
    /* padding-right: 90%; */
}

.main {
    background-image: url(../res/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    text-align: center;
    height: 100vh;
}

.main a {
    text-decoration: none;
    color: rgb(0, 126, 243);
}

section:nth-child(odd) .body__main--button {
    background-color: rgb(31, 37, 43);
}

section:nth-child(even) .body__main--button {
    background-color: rgb(0, 126, 243);
}

.body__main--button {
    color: white;
    /* font-variant: small-caps; */
    font-size: large;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    width: 305px;
}

.body__main--button--line2 {
    margin-left: clamp(0px, -1vw, 140px);
}

.body__main--button:hover {
    opacity: 0.8;
}

hr {
    border: 1px solid white;
    height: 0px;
    width: 20%;
}